.App {
  text-align: center;
}

.var-container {
  height: 100px;
  padding: 20px 20px;
}

.add-variant-btn {
  background-color: darkgrey;
}

.remove-option-btn {
  background-color: green;
}

.add-option-btn {
  background-color: red;
}
